/* Цвет основоного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Первичный фон #FFFFFF */
/* Вторичный фон #E5E5E5 */
/* Фон контента #2F303A */
/* Цвет акцента #2196F3 */
/* Цвет лого #000000 */
/* Белый #FFFFFF */
/* Цвет ховера кнопки index #188CE8 */
/* Задник неактивной кнопки портфолио #F5F4FA */

:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --button-background-hover: #188ce8;
  --background-secondary-color: #2f303a;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.second-background {
  background-color: #e5e5e5;
}

.background-content {
  background-color: var(--background-secondary-color);
}
/* Шапка */
/* Лого */

.logo {
  text-decoration: none;
  color: var(--accent-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: #000000;
}
/* Ссылки */
.link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.active-link {
  text-decoration: none;
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

/* Контакты */
.nav-link {
  text-decoration: none;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

/* Мэйн */
/* Баннер */
/* Заголовок */
.main-tittle {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
/* Кнопка */
.button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
}

.button:hover,
.button:focus {
  background-color: var(--button-background-hover);
}

/* Наши приимущества */
/* Заголовок */
.list {
  list-style: none;
}

.section-tittle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Абзац */
.section-content {
  color: var(--tittle-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Наши услуги */
/* Заголовок */
.saction-tittle-services {
  font-size: 36px;
  line-height: 1.16;
}

/* Наша команда */
/* Заголовок */
.saction-tittle-team {
  font-size: 36px;
  line-height: 1.16;
}
/* Имена */
.section-tittle-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
/* Должность */
.section-content-people {
  color: var(--tittle-text-color);
  font-size: 16px;
  line-height: 1.18;
}

/* Фильтр портфолио */
.button-active {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
}

.button-non-active {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
}
.button-non-active:hover,
.button-non-active:focus {
  color: var(--white-color);
  background-color: var(--button-background-hover);
}

/* Пректы портфолио */
.saction-project-tittle {
  font-size: 18px;
  line-height: 2;
}

.section-project-text {
  color: var(--tittle-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Подвал */
/* Лого */
.logo-footer {
  color: var(--white-color);
}
/* Фон */
.background-footer {
  background-color: var(--background-secondary-color);
}

/* Адрес */

.street {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
}
