/* Цвето основоного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Первичный фон #FFFFFF */
/* Вторичный фон #E5E5E5 */
/* Фон контента #2F303A */
/* Цвет акцента #2196F3 */
/* Цвет лого #000000 */
/* Белый #FFFFFF */
/* Цвет ховера кнопки index #188CE8 */
/* Задник неактивной кнопки портфолио #F5F4FA */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

.second-background {
  background-color: #e5e5e5;
}

.background-content {
  background-color: #2f303a;
}
/* Шапка */
/* Лого */

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: #000000;
}
/* Ссылки */
.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.active-link {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

/* Контакты */
.nav-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* Мэйн */
/* Баннер */
/* Заголовок */
.main-tittle {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
/* Кнопка */
.button {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* Наши приимущества */
/* Заголовок */
.section-tittle {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
}
/* Абзац */
.section-content {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

/* Наши услуги */
/* Заголовок */
.saction-tittle-services {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
}

/* Наша команда */
/* Заголовок */
.saction-tittle-team {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
}
/* Имена */
.section-tittle-people {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
/* Должность */
.section-content-people {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

/* Фильтр портфолио */
.button-active {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
}

.button-non-active {
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
}
.button-non-active:hover,
.button-non-active:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* Подвал */
/* Лого */
.logo-footer {
  color: #ffffff;
}
/* Фон */
.background-footer {
  background-color: #2f303a;
}

/* Адрес */
address {
  font-style: normal;
}

.street {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
