/* Подвал */

.footer {
  display: flex;
  align-items: baseline;

  &__background {
    background-color: $background-secondary-color;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  &__indent {
    margin-right: 70px;
  }

  &__logo {
    text-decoration: none;
    color: $accent-text-color;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;

    &-color {
      color: $white-color;
    }
  }
  &__address {
    margin-top: 20px;
  }

  &__list {
    padding-bottom: 9px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $accent-text-color;
    }

    &--paragraph {
      color: $white-color;
      font-size: 14px;
      line-height: 1.71;
      font-style: normal;
    }
  }
}

/* СоцСети */

.footer-social {
  display: flex;
  align-items: center;

  &__indent {
    margin-right: 93px;
  }

  &__tittle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
    align-items: center;
  }

  &__list {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    align-items: center;
    justify-content: center;
    display: flex;

    padding: 12px;
    border-radius: 50%;
    background-color: $svg-footer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-text-color;
    }
  }

  &__svg {
    fill: $white-color;
  }
}

// Форма
.footer-form {
  display: flex;
  align-items: center;

  &__input {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    margin-right: 12px;
    outline: none;
    color: rgba(255, 255, 255, 0.6);

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    display: flex;
    align-items: center;

    font-family: Roboto;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white-color;
    background-color: $accent-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    border: none;
    cursor: pointer;
  }

  &__svg {
    margin-left: 10px;
  }
}
