/* Наши приимущества */
/* Заголовок */

.skills {
  padding-bottom: 0;

  &__list {
    display: flex;
    align-self: center;

    &--tittle {
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &--paragraph {
      color: $tittle-text-color;
      font-size: 14px;
      line-height: 1.71;
    }
    &--svg {
      width: 270px;
      height: 120px;
      padding: 25px 100px;
      margin-bottom: 30px;
      background: $backfround-button-color;
      border-radius: 4px;
    }
  }
}

.skills__list--indent {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
