/* Пректы портфолио */

.projects__indent {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.projects__list {
  flex-basis: calc(100% / 3 - 30px);
  background-color: $white-color;
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid $border-color-portfolio;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/* Ховер карточки */

.projects__hover {
  position: relative;
  overflow: hidden;

  &:hover .projects__hover--techno,
  &:focus .projects__hover--techno {
    transform: translateY(0%);
  }
}

.projects__hover--techno {
  position: absolute;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 64px 24px;
  color: $white-color;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  right: 0;

  transform: translateY(101%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__wrapper {
  padding: 24px 20px;

  &--tittle {
    font-size: 18px;
    line-height: 2;
    padding-bottom: 8px;
  }

  &--text {
    color: $tittle-text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}
