$primary-text-color: #212121;
$tittle-text-color: #757575;
$accent-text-color: #2196f3;
$white-color: #ffffff;
$button-background-hover: #188ce8;
$background-secondary-color: #2f303a;
$backfround-button-color: #f5f4fa;
$background-hat: #ececec;
$background-card: #e5e5e5;
$border-color-portfolio: #eeeeee;
$svg-color: #afb1b8;
$svg-footer: rgba(255, 255, 255, 0.1);
